
.result {
    background: linear-gradient(88.21deg, #375958 -25.83%, #172120 96.08%);
    height: 26vw;
}
.result .home-fun {
    margin: auto;
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(69px);
    backdrop-filter: blur(69px);
    border-radius: 1vw;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    padding: 2vw;
    bottom: -11vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.comta{
    width: 84%;
   
    margin: 4vw auto;

}
.result-box{
    background: white;
    height: 20vw;
    border-radius: 2vw;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.11);
    margin: 2vw auto;
    margin-bottom: 3vw;
    display: flex;
    align-items: center;
    // padding: 1.4vw;
    gap: 4vw;
}
@media screen and (max-width:950px) {
    .result{
        height: 39vh;
    }
    .result.home-fun{
        bottom: -13vh;
    }
}
@media screen and (max-width:768px) {
    .result{
       
    height: 50vh;

    }
    .result.home-fun{
        bottom: -13vh;
    }
    .result-box {
        background: white;
        height: 40vw;
        margin: 5vw auto;
      }
      
}
@media screen and (max-width:500px) {
    .result{
       
    height: 56vh;

    }
    .result .home-fun{
        bottom: -12vh;
    }

}
.res-img{
    background-image: url(../Image/sli2.png);
    background-image: url(http://localhost:3000/static/media/sli2.d10e1444966098a3aa74.png);
    width: 32%;
    height: 100%;
    border-radius: 2vw;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
.comu-res {
    background: linear-gradient(88.21deg, #375958 -25.83%, #172120 96.08%);
    // background: #243938;
    font-size: 2.6vw;
    position: absolute;
    top: 0;
    color: #fefefe;
    right: 0;
    padding: 1vw 2vw;
    border-bottom-left-radius: 2vw;
    border-top-right-radius: 2vw;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.com-tit-res {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 2.5vw;
    line-height: 4.3vw;
    background: linear-gradient(88.21deg, #375958 -25.83%, #172120 96.08%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.tre-res {
    font-size: 1.5vw;
    margin-bottom: 2vw;
}
.loc-res {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    font-size: 1.4vw;
    color: #375958;
    font-weight: 600;
}
.comu-res:lang(ar) {
    background: #243938;
    font-size: 2.6vw;
    position: absolute;
    top: 0;
    color: #fefefe;
    right: auto;
    left: 0;
    border-radius: 0;
    padding: 1vw 2vw;
    border-bottom-right-radius: 2vw;
    border-top-left-radius: 2vw;
}
.res-img:lang(ar){
border-radius: 2vw;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}